.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background: transparent;
  height: $nav-height;
  @include flexCenter(row);
  justify-content: space-around;
  transition: all 0.5s ease;
  transition-property: background, color;
  & > * {
    background-color: transparent;
  }
  &.active {
    background: $primary-blue;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0 0 0.5rem 0.5rem;
    .nav-logo {
      fill: $primary-yellow;
    }
    .nav-links:hover {
      color: $primary-yellow;
    }
  }
}

/* Logo */
.nav-logo a {
  @include flexCenter(row);
  justify-content: center;
}

/* Content */
.nav-menu {
  @include flexCenter(column);
  justify-content: flex-start;
  position: absolute;
  top: $nav-height; // Height of nav
  left: -100%;
  opacity: 0;
  transition: all 0.5s ease-out;
  transition-property: left, opacity;
  width: 100vw;

  &.active {
    background-color: $background-black;
    opacity: 1;
    left: 0;
    z-index: 999;
  }
}

.nav-links {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  width: 100vw;
  display: table;
  color: $primary-white;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: $primary-blue;
  }
}

/* Brand */
.nav-logo {
  cursor: pointer;
  width: 18rem;
}

/*----------- Responsive --------------*/
@include respond-to("medium") {
  .navbar {
    flex-direction: column;
    justify-content: space-evenly;
    height: 15rem;
    &.active {
      border-radius: 0;
      .nav-links {
        color: $primary-white;
      }
    }
  }
  .nav-menu {
    @include initialProperties;
    flex-direction: row;
    opacity: 1;
    &.active {
      background-color: transparent;
    }
  }

  .nav-links {
    font-size: 1.8rem;
    transition: all 0.3s ease;
    transition-property: border-radius, background-color, left, transform, color,
      font-weight;
    color: $primary-black;
    width: initial;
    &:hover {
      font-weight: bolder;
      transform: translateY(-10%);
      background-color: initial;
    }
  }

  .nav-logo {
    width: 20rem;
  }
}

@include respond-to("large") {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
    height: $nav-height;
  }
  .nav-logo {
    width: 27rem;
  }
}
