.cards {
  @include flexCenter(column);
  justify-content: space-around;
  & > *:not(:last-child) {
    margin-bottom: 5rem;
  }
  & > :nth-child(2) {
    transform: scale(1.1);
  }
}

.card {
  @include flexCenter(column);
  justify-content: space-around;
  padding: 0 1rem;
  height: 60rem;
  border-radius: 1rem;
  background-color: #fff;
  border: 1px $secondary-white solid;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  transition-property: transform, box-shadow;
  cursor: pointer;

  &:hover:not(:nth-child(2)) {
    transform: scale(1.025);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  }
  &-header {
    @include flexCenter(column);
    & > * {
      margin-bottom: 2rem;
    }
  }
  &-title {
  }
  &-icon {
    color: white;
    padding: 2rem;
    border-radius: 50%;
    background-color: blue;
  }

  &-summary {
    margin-top: 3rem;
  }

  &-body {
    li {
      margin-bottom: 2rem;
    }
    li:before {
      margin-right: 1rem;
      content: "✓";
    }
  }
}

/*----------- Responsive --------------*/
@include respond-to("medium") {
  .cards {
  }
  .card {
    margin: auto 2rem;
    padding: 0 4rem;
  }
}
@include respond-to("large") {
  .cards {
    flex-direction: row;
    & > *:not(:last-child) {
      margin-bottom: unset;
    }
    max-width: 120rem;
    margin: 0 auto;
  }
}
