.driving-section {
  @include flexCenter(column);
  &-text {
    margin-bottom: 15rem;
    & > * {
      margin: 5rem 0;
    }
  }

  &-content {
    margin: 0 1.5rem;
    text-align: left;
  }
}

@include respond-to("medium") {
}

@include respond-to("large") {
  .driving-section {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    &-content {
      width: 80rem;
    }
  }
}
